@import "tailwindcss";

@theme {
    --font-vazir: var(--font-vazirmatn);
}


:root {
    /* Color */
    --primary-blue: #B8D8F0;
    --secondary-beige: #F7F3EE;
    --accent-pink: #F1D6D9;
    --color-text: #2F2F2F;
    --color-secondary-text: #757575;
    --color-background: #FEFDFC;

    /* Radius */
    --radius-sm: 8px;
    --radius-md: 12px;
    --radius-lg: 20px;
    --radius-xl: 32px;

    /* Shadow */
    --shadow-sm: 0 2px 8px rgba(0, 0, 0, .05);
    --shadow-md: 0 8px 24px rgba(0, 0, 0, .08);
    --shadow-lg: 0 12px 40px rgba(0, 0, 0, .10);

    /* Transition */
    --transition-fast: .2s ease;
    --transition-normal: .3s ease;

    /* Container width */
    --container-width: 1280px;
}